{% extends 'ConcertoCmsAdminBundle::base.html.twig' %}
{% block body %}
    {% include '@ConcertoCmsAdmin/_Partials/header.html.twig' %}
    <div id="pages-container"></div>
{% endblock %}
{% block javascript %}
    {% javascripts injector="concerto.pages"
        '@ConcertoCmsAdminBundle/Resources/public/js/pages.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% include '@ConcertoCmsAdmin/_Partials/ckeditor.html.twig' %}
    {{ render(controller('ConcertoCmsAdminBundle:Pages:pagetypes')) }}
    <script>
        app.start();
    </script>
{% endblock %}