{% extends 'ConcertoCmsAdminBundle::base.html.twig' %}
{% block body %}
    {% include '@ConcertoCmsAdmin/_Partials/header.html.twig' %}
    <div id="pages-container"></div>
{% endblock %}
{% block javascript %}
    {% javascripts
        '@ConcertoCmsAdminBundle/Resources/js/Model/Page.js'
        '@ConcertoCmsAdminBundle/Resources/js/Model/Language.js'
        '@ConcertoCmsAdminBundle/Resources/js/Collection/Pages.js'
        '@ConcertoCmsAdminBundle/Resources/js/Collection/Languages.js'
        '@ConcertoCmsAdminBundle/Resources/js/Pages/*.js'
        '@ConcertoCmsAdminBundle/Resources/public/js/templates.admin.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@ConcertoCmsAdmin/_Partials/ckeditor.html.twig' %}
    {% include '@ConcertoCmsAdmin/_Partials/pagetypes.html.twig' %}

    <script>
        controller = new Pages.Controller({
            el: document.getElementById("pages-container")
        });
    </script>

{% endblock %}