{% extends 'ConcertoCmsAdminBundle::base.html.twig' %}
{% block body %}
    {% include '@ConcertoCmsAdmin/_Partials/header.html.twig' %}


    <div id="navigation-container"></div>
{% endblock %}
{% block javascript %}
    {% javascripts
    '@ConcertoCmsAdminBundle/Resources/public/js/navigation.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}