{% extends 'ConcertoCmsAdminBundle::base.html.twig' %}
{% block body %}
    {% include '@ConcertoCmsAdmin/_Partials/header.html.twig' %}


    <div id="navigation-container"></div>
{% endblock %}
{% block javascript %}
    {% javascripts
        '@ConcertoCmsAdminBundle/Resources/js/Model/Page.js'
        '@ConcertoCmsAdminBundle/Resources/js/Model/Language.js'
        '@ConcertoCmsAdminBundle/Resources/js/Model/Menu.js'
        '@ConcertoCmsAdminBundle/Resources/js/Collection/Pages.js'
        '@ConcertoCmsAdminBundle/Resources/js/Collection/Languages.js'
        '@ConcertoCmsAdminBundle/Resources/js/Collection/Menus.js'
        '@ConcertoCmsAdminBundle/Resources/js/Navigation/*.js'
        '@ConcertoCmsAdminBundle/Resources/public/js/templates.admin.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        controller = new Pages.Controller({
            el: document.getElementById("navigation-container")
        });
    </script>
{% endblock %}