{% if model.id %}
    <h4>{{ model.get('label') }}</h4>
{% else %}
    <h4>New menu</h4>
{% endif %}
<div class="form-group">
    <label for="frmEditView_label">Label</label>
    <input type="text" name="label" class="form-control" id="frmEditView_label" placeholder="Menu label">
</div>
<div class="form-group">
    <label for="frmEditView_page">Page</label>
    <select class="form-control" name="uri">
        <option value="#">No link</option>
        {% for page in pages %}
            <option value="{{ page.id }}">{{ page.id }} ({{ page.get('title') }})</option>
        {% endfor %}
    </select>
</div>
<hr />
<div class="text-right">
    <button type="submit" class="btn btn-lg btn-success">Save</button>
</div>