<div class="panel panel-primary">
    {% if model.id %}
        <div class="panel-heading">{{ model.get('label') }}</div>
    {% else %}
        <div class="panel-heading">New nemu</div>
    {% endif %}
    <div class="panel-body">
        <div class="form-group">
            <label for="frmEditView_label">Label</label>
            <input type="text" name="label" class="form-control" id="frmEditView_label" placeholder="Menu label">
        </div>
        <div class="form-group">
            <label for="frmEditView_page">Page</label>
            <select class="form-control" name="uri">
                <option value="#">No link</option>
                {% for page in pages %}
                    <option value="{{ page.id }}">{{ page.id }} ({{ page.get('title') }})</option>
                {% endfor %}
            </select>
        </div>
        <hr />
        <div class="text-right">
            {% if model.isNew() == false %}
            <div class="btn-group pull-left" role="group" aria-label="...">
                <button type="button" class="btn btn-default move-up"><i class="glyphicon glyphicon-arrow-up"></i></button>
                <button type="button" class="btn btn-default move-down"><i class="glyphicon glyphicon-arrow-down"></i></button>
            </div>
            {% endif %}

            <button type="button" class="btn btn-danger delete">Delete</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</div>
